<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <!-- Uncomment when the packages were prepared in portable mode by the organiser:
  <config>
    <add key="globalPackagesFolder" value="..\..\nuget-cache" />
  </config>
  -->
</configuration>
